/* COLOR PALETTE
--dark-purple: #1e152aff;
--deep-space-sparkle: #4e6766ff;
--cadet-blue: #5ab1bbff;
--pistachio: #a5c882ff;
--jasmine: #f7dd72ff;
*/

/* Global Styles
-------------------------------------*/
body{
   color:#1e152aff;
}

img{
   width:300px; 
}
/* Profile 
-------------------------------------*/

/* Projects
-------------------------------------*/

/* Work Expereince
-------------------------------------*/

/* Education
-------------------------------------*/

/* Contact Info
-------------------------------------*/