/* COLOR PALETTE
--dark-purple: #1e152aff;
--deep-space-sparkle: #4e6766ff;
--cadet-blue: #5ab1bbff;
   -- blue: #5EB1BF;
--pistachio: #a5c882ff;
--jasmine: #f7dd72ff;
#EFEFD0 -- Egg Shell
*/

/* Global Styles
-------------------------------------*/
body{
   color:#383D3B;
}

img{
   width:300px; 
}
a{
   color:rgb(243, 213, 92);
}
a:hover{
   text-decoration: none;
}
/* Profile 
-------------------------------------*/
header{
   background:#272727;
   color:#F4F4ED;
}

/* Projects
-------------------------------------*/
.projects{
   background:#649462;
}
.projects a{
   color:darkblue;

}


.projects .btn {
   color:aliceblue;
   background:rgb(23, 26, 33);
   text-decoration: none;
   padding: 8px;
   border-radius: 4px;
}
.projects .btn:hover{
   background: rgb(23, 26, 33, 80%);
}
/* Work Expereince
-------------------------------------*/
.work-experience{
   background:#6ecbdb;
}
/* Education
-------------------------------------*/

/* Contact Info
-------------------------------------*/
footer{
   background:#171A21;
   color: #F4F4ED;
}